.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
  margin: auto;
}

.containerx:hover .info{
  opacity: 1;
}

.info {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10;
  opacity: 0;
  transition: 0.5s all;
  height: 100%;
  width: 100%;
}

.cover{
  background-color: cyan;
  position: absolute;
  top: 0;
}
