body {
  font-family: sans-serif;
}

table {
  margin: auto;
  width: 50%;
  background-color: #008ED4;
}

td,input {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.tdBtn {
  width: 25%;
}

.button {
  text-align: center;
  padding: 2vw;
  width: 100%;
  font-size: 1.5vw;
  cursor: default;
  border: 0;
  background-color: #008ED4;
}

.button:hover {
  background-color: #00ABFF;
}

.button:active {
  background-color: #00A0EE;
}

.display {
  width: 100%;
  border: 0;
  text-align: right;
  font-size: 3vw;
}
