body {
  background-image: url("../img/wallpaper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content2 {
  display: inline-block;
  vertical-align: top;
  height:100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.box {
  display: inline-block;
  width: 30%;
  position: relative;
  margin: 1%;
}

.boximg {
  width: 100%;
}

.title {
  color: white;
  font-size: 3vw;
  font-family: fantasy;
}

.description {
  color: white;
  font-size: 1vw;
  font-family: sans-serif;
  text-align: justify;
  padding: 0 5% 0 5%;
}
