/***HEADER CSS***/
header {
  text-align: center;
  height: 20%;
  width: 100%;
}

.headerTopDiv {
  background-color:#e3001c;
  width:100%;
  position:relative;
}

.headerText {
  height: 100%;
  font-size: 3vw;
  color: white;
  font-family: sans-serif;
  -webkit-transform: scale(1.2,1.2);
  display: inline-block;
  padding: 1vw 0 1vw 0;
}

.headerLogoWii {
  display:inline-block;
  height: 2.8vw;
}

.headerLogoNintendo {
  display:inline-block;
  width: 12vw;
  height: 3vw;
}

.headerDivBanner {
  background-color:#e3001c;
  text-align: center;
}

.headerBanner {
  width: 90%;
  padding: 1vw 0 3vw 0;
}

/***SECTION CSS***/
section {
  position: relative;
}

.mainCover {
  width:100%;
  height:100%;
  z-index: -1;
  position: absolute;
}

.divTopLayer {
  width: 100%;
  height: 100%;
}

.divNews {
  left:2vw;
  position: relative;
  width: 80%;
  font-size: 1vw;
}

.divBarkley {
  display:inline-block;
  top:-2vw;
  left: -3vw;
  position:relative;
  vertical-align: bottom;
}

.divBarkley>img {
  height: 17vw;
  vertical-align: bottom;
}

.divTextBarkley {
  display:inline-block;
  vertical-align: bottom;
}

.tCoverBlue {
  color: #0096ff;
  font-weight: bold;
  font-size: 4vw;
  display: inline-block;
  line-height: 3.5vw;
  vertical-align: top;
}

.tCoverBlack {
  color: black;
  font-size: 3vw;
  display: inline-block;
  line-height: 2.5vw;
  vertical-align: top;
}

.tCoverBlackL {
  color: black;
  font-size: 3.5vw;
  display: inline-block;
  line-height: 3vw;
  font-weight: bolder;
}

.tCoverXXL {
  color: #e3001c;
  font-size: 9vw;
  display: inline-block;
  line-height: 7.5vw;
  font-weight: 900;
  transform: scale(0.8,1.2);
  -webkit-transform: scale(0.8,1.2);
  position: relative;;
  left: -7vw;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.tCoverXL {
  color: black;
  font-size: 8vw;
  line-height: 6.5vw;
  font-weight: 900;
  -webkit-transform: scale(0.8,1.2);
  display: inline-block;
  padding-top: 1vw;
  left: -5vw;
  position: relative;
  padding-bottom: 4vw;
}

.padTop {
  padding-top: 2vw;
}

.barcode {
  width: 20vw;
}

.back {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.backDiv {
  position: absolute;
  top: 1vw;
  right: -10%;
  background-color: white;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  z-index: -1;
  border-style: solid;
  border-color: #fec63e;
}

.backDivIn {
  background-color: #fec63e;
  width: 96%;
  height: 96%;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backText {
  text-align: right;
  padding-right: 2vw;
  padding-top: 4vw;
  position: absolute;
  top: 0;
  right: 0;
}

.backText>img {
  width: 21vw;
  height: 11.8vw;
}

.backTextS {
  font-size: 3vw;
  line-height: 3vw;
}

.backTextS>span {
  font-weight:bolder;
}

.backTextL {
  color: #e3001c;
  font-weight: 900;
  font-size: 3.5vw;
  line-height: 3.0vw;
  -webkit-transform: scale(0.8,1.2);
  display: inline-block;
  right: -3vw;
  position: relative;
  padding-top:0.5vw;
  padding-bottom:1.5vw;
}
/***FOOTER CSS***/
footer {
  width: 100%;
  background-color: #e3001c;
  position: relative;
}

footer>p {
  margin:0;
  font-size:3.8vw;
  padding-left:2vw;
  font-style: italic;
  font-family:'Finger Paint',cursive;
  color:white;
}

footer>img {
  right:0;
  bottom: 0;
  width: 50%;
  position: absolute;
}
