aside {
  width: 30% !important;
  font-size: 1.2vw !important;
  text-align: justify !important;
  overflow: scroll;
}

ul {
  padding: 0 0 0 2vw;
}

.section {
  width: 70% !important;
  text-align: center;
}

.hidden {
  opacity: 1;
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
