body {
  background-image: url("../img/wallpaper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container2 {
  height: 100%;
  font-size: 0;
}

.content2 {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  height:100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.box {
  display: inline-block;
  width: 30%;
  margin: 1em;
}

.boximg {
  width: 100%;
}

.title {
  color: white;
  font-size: 30px;
  font-family: fantasy;
}

.description {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  text-align: justify;
  padding: 0 5% 0 5%;
}
