* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,body{
  margin:0px;
  height:100%;
  width: 100%
 }

 .container {
  height: 100%;
  font-size: 0;
 }

.header {
  background-color: rgba(3,36,59,0.5);
  vertical-align: top;
}

.footer {
  font-size: 16px;
  background-color: #03243B;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center;
  z-index: 99;
}

.content {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  height:100%;
  width: 70%;
  padding: 10px;
}

.navigation {
  font-size: 12px;
  background-color: #033B45;
  display: inline-block;
  vertical-align: top;
  width: 10%;
  height:100%;
  color: white;
}

.sidebar {
  font-size: 10px;
  background-color: #033B45;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  right: 0;
  height:100%;
  text-align: center;
}

.navmenu {
  padding-bottom: 10px;
}
