* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,body{
  margin:0px;
  height:100%;
  width: 100%
 }

 .banner{
   max-height: 100%;
   vertical-align: top;
   min-height: 100%;
 }

 .container {
  height: 92%;
  font-size: 0;
 }

.header {
  background-color: rgb(3,36,59);
  vertical-align: top;
  height: 5%;
}

.footer {
  font-size: 1.5vw;
  background-color: #03243B;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center;
  z-index: 99;
  height: 3%;
  position: fixed;
}

.content {
  font-size: 2.2vw;
  display: inline-block;
  vertical-align: top;
  height:100%;
  width: 70%;
  padding: 10px;
}

.navigation {
  font-size: 2vw;
  background-color: #033B45;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height:100%;
  color: white;
}

.sidebar {
  font-size: 1.8vw;
  background-color: #033B45;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  right: 0;
  height:100%;
  text-align: center;
  color: white;
}

.navmenu {
  padding-bottom: 10px;
}
